<section class="py-5">
  <div class="container px-5">
    <div class="row align-items-center">

      <!-- Sol taraf: Yazı -->
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold mb-3">
          Hi, I’m <span class="text-primary">Erdinç</span>
        </h1>

        <p class="lead text-muted mb-4">
          Software Developer focused on backend, microservices
          and scalable systems.
        </p>

        <div class="d-flex gap-3">
          <a routerLink="/projects" class="btn btn-dark btn-lg">
            View Projects
          </a>
          <a routerLink="/contact" class="btn btn-outline-dark btn-lg">
            Contact Me
          </a>
        </div>
      </div>

      <!-- Sağ taraf: Görsel / Placeholder -->
        <img
          src="assets/images/profile-photo.jpg"
          class="img-fluid rounded-circle shadow profile-img"
          alt="Profile"
        />

    </div>
  </div>
</section>
